Repository AY2425S1-CS2103T-T12-1/tp, pull requests merged in 2024-10, with the labels that each got.

#34 Fix readme and devguide
  README.md
  docs/DeveloperGuide.md
Labels: priority.High

#42 Add GUI NavBar
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/NavBar.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/NavBar.fxml
Labels: priority.Medium

#39 Add Search by Tag Name requirements
  src/main/java/seedu/address/logic/commands/SearchCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/SearchCommandParser.java
  src/main/java/seedu/address/model/person/TagContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/tag/Tag.java
Labels: priority.Low

#41 Create Event.java
  src/main/java/seedu/address/model/event/Event.java
Labels: priority.High

#47 Integrate Events with GUI
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyAddressBook.java
  src/main/java/seedu/address/ui/EventCard.java
  src/main/java/seedu/address/ui/EventListPanel.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/view/EventListCard.fxml
  src/main/resources/view/EventListPanel.fxml
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
Labels: priority.Medium

#52 Update UserGuide.md
  docs/UserGuide.md
Labels: Docs

#58 Fix UI & persistent event storage
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/eventCommands/AddEventCommand.java
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/model/types/event/Event.java
  src/main/java/seedu/address/storage/JsonAdaptedEvent.java
  src/main/java/seedu/address/storage/JsonSerializableAddressBook.java
  src/main/java/seedu/address/ui/EventCard.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/NavBar.java
  src/main/resources/view/DarkTheme.css
Labels: Event, GUI

#62 Update UserGuide.md
  docs/UserGuide.md
  docs/images/deleteEventAfter.PNG
  docs/images/deleteEventBefore.PNG
  docs/images/deletePersonAfter.PNG
  docs/images/deletePersonBefore.PNG
  docs/images/searchWorkFriendsResult.PNG
Labels: Docs

#65 Branch fix app name
  build.gradle
  docs/images/EventList.png
  src/main/java/seedu/address/MainApp.java
  src/main/resources/view/MainWindow.fxml
Labels: priority.High

#68 Rename folders
  src/main/java/seedu/address/logic/commands/eventcommands/AddEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/DeleteEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/FindEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/SearchEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/AddCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/Command.java
  src/main/java/seedu/address/logic/commands/personcommands/CommandResult.java
  src/main/java/seedu/address/logic/commands/personcommands/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/EditCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/FindCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ListCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/SearchCommand.java
  src/main/java/seedu/address/logic/parser/FindCommandParser.java
Labels: Command

#72 Add Edit Event requirements
  src/main/java/seedu/address/logic/commands/eventCommands/EditEventCommand.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
Labels: priority.High, Event, Command

#82 Refactor Search and Edit command names
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/SearchCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/EditEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/SearchEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/EditPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/SearchPersonCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/logic/parser/SearchCommandParser.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/EditPersonDescriptorTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/address/testutil/EditPersonDescriptorBuilder.java
  src/test/java/seedu/address/testutil/PersonUtil.java
Labels: priority.High, Event, Person, Command

#86 Branch person event manager
  build.gradle
  src/main/java/seedu/address/logic/commands/personcommands/EditPersonCommand.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/types/common/PersonEventManager.java
  src/main/java/seedu/address/model/types/event/Event.java
  src/main/java/seedu/address/model/types/event/UniqueEventList.java
  src/main/java/seedu/address/model/types/person/Person.java
  src/test/java/seedu/address/logic/commands/EditPersonDescriptorTest.java
Labels: type.Epic, priority.High, Event, Person

#92 Branch link person command
  src/main/java/seedu/address/logic/commands/personcommands/EditPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/FindPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/LinkPersonCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/logic/parser/FindCommandParser.java
  src/main/java/seedu/address/logic/parser/LinkCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/types/common/PersonEventManager.java
  src/main/java/seedu/address/model/types/person/Person.java
  src/main/java/seedu/address/ui/PersonCard.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/FindPersonCommandTest.java
  src/test/java/seedu/address/logic/parser/FindPersonCommandParserTest.java
Labels: priority.High, Person, Command

#96 Add Tests for the following
  src/main/java/seedu/address/model/types/common/PersonEventManager.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/eventcommands/EditEventCommandTest.java
  src/test/java/seedu/address/logic/commands/eventcommands/EditEventDescriptorTest.java
  src/test/java/seedu/address/logic/commands/eventcommands/SearchEventCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/AddPersonCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/personcommands/AddPersonCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/DeletePersonCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/EditPersonCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/EditPersonDescriptorTest.java
  src/test/java/seedu/address/logic/commands/personcommands/SearchPersonCommandTest.java
  src/test/java/seedu/address/model/types/common/EventNameContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/types/common/EventTagContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/types/common/PersonTagContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/testutil/EditEventDescriptorBuilder.java
  src/test/java/seedu/address/testutil/EventBuilder.java
  src/test/java/seedu/address/testutil/EventUtil.java
  src/test/java/seedu/address/testutil/TypicalAddressBook.java
  src/test/java/seedu/address/testutil/TypicalEvents.java
  src/test/java/seedu/address/testutil/TypicalIndexes.java
  src/test/java/seedu/address/testutil/TypicalPersons.java
Labels: Event, Person, Test

#111 Update HelpWindow to current specifications
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/resources/view/HelpWindow.fxml
Labels: priority.Low, GUI
