Repository AY2425S1-CS2103T-T12-1/tp, pull requests merged in 2024-11, with the labels that each got.

#133 Branch testing link command
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/personcommands/LinkPersonCommand.java
  src/main/java/seedu/address/logic/parser/LinkCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyAddressBook.java
  src/main/java/seedu/address/model/types/common/LinkedPersonsEntry.java
  src/main/java/seedu/address/model/types/common/PersonEventManager.java
  src/main/java/seedu/address/storage/JsonAdaptedLinkedPersonsEntry.java
  src/main/java/seedu/address/storage/JsonSerializableAddressBook.java
  src/test/java/seedu/address/logic/commands/personcommands/AddPersonCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/LinkPersonCommandTest.java
  src/test/java/seedu/address/logic/parser/LinkCommandParserTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/testutil/TypicalAddressBook.java
  src/test/java/seedu/address/testutil/TypicalPersonEventManager.java
Labels: Command, Test

#138 Fix checkstyle
  src/test/java/seedu/address/logic/commands/eventcommands/AddEventCommandTest.java
Labels: alpha-bug

#119 Cli UI enhancements
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/commands/SearchCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/AddEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/ClearEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/DeleteEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/EditEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/FindEventCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/ScheduleCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/SearchEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/AddPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ClearPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/DeletePersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/EditPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/FindPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/LinkPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/SearchPersonCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ClearCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/ui/CommandBox.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/ClearCommandTest.java
  src/test/java/seedu/address/logic/commands/ExitCommandTest.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/commands/eventcommands/AddEventCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/AddPersonCommandTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
Labels: priority.Low, Command, GUI

#137 Tests for clear event logic, model, storage
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/storage/JsonAdaptedEvent.java
  src/main/java/seedu/address/storage/JsonSerializableAddressBook.java
  src/test/data/JsonSerializableAddressBookTest/duplicateEventAddressBook.json
  src/test/data/JsonSerializableAddressBookTest/invalidEventAddressBook.json
  src/test/data/JsonSerializableAddressBookTest/typicalEventsAddressBook.json
  src/test/java/seedu/address/logic/commands/ClearCommandTest.java
  src/test/java/seedu/address/logic/commands/eventcommands/ClearEventCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/ClearPersonCommandTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/ClearCommandParserTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
  src/test/java/seedu/address/model/types/event/EventTest.java
  src/test/java/seedu/address/model/types/event/UniqueEventListTest.java
  src/test/java/seedu/address/storage/JsonAdaptedEventTest.java
  src/test/java/seedu/address/storage/JsonSerializableAddressBookTest.java
  src/test/java/seedu/address/testutil/AddressBookBuilder.java
  src/test/java/seedu/address/testutil/TypicalEvents.java
Labels: Test

#141 Branch unlink command
  src/main/java/seedu/address/logic/commands/personcommands/UnlinkPersonCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/UnlinkCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/types/common/LinkedPersonsEntry.java
  src/test/java/seedu/address/logic/commands/eventcommands/AddEventCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/AddPersonCommandTest.java
  src/test/java/seedu/address/model/types/common/PersonEventManagerTest.java
Labels: Command

#146 Fix UI of hint handling
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/ScheduleCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/LinkPersonCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/ui/CommandBox.java
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/ResultDisplay.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/HelpWindow.fxml
Labels: GUI

#148 Fix test bugs
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
Labels: alpha-bug

#144 Update ug 2
  docs/UserGuide.md
Labels: Docs

#162 Fix clear e/p
  src/main/java/seedu/address/logic/commands/eventcommands/ClearEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ClearPersonCommand.java
Labels: Command

#166 Updated UG pngs
  docs/images/Ui.png
  docs/images/deleteEventAfter.png
  docs/images/deleteEventBefore.png
  docs/images/deletePersonAfter.png
  docs/images/deletePersonBefore.png
  docs/images/findAlexDavidResult.png
  docs/images/findSentosaParty.png
  docs/images/searchSummerFashionResult.png
  docs/images/searchWorkFriendsResult.png
Labels: Docs

#185 Updated UG images
  docs/UserGuide.md
  docs/images/clearAll.png
  docs/images/helpMessage.png
  docs/images/link2Summer.png
  docs/images/link2Winter.png
  docs/images/unlink2Summer.png
  docs/images/unlink2Winter.png
Labels: Docs

#183 Fix for following PE Dry Run issues
  src/main/java/seedu/address/logic/commands/eventcommands/EditEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/EditPersonCommand.java
  src/main/java/seedu/address/ui/HelpWindow.java
Labels: priority.Medium, Event, Person, Command, GUI, alpha-bug

#184 Add fixes to UG
  README.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/helpMessage.png
  docs/images/launch.png
  docs/index.md
Labels: priority.High, severity.Medium, Docs, alpha-bug

#237 Updated Developer Guide to include Appendix for the following
  docs/DeveloperGuide.md
Labels: Docs

#239 Hotfix
  docs/UserGuide.md
  src/main/java/seedu/address/model/types/event/Event.java
  src/test/java/seedu/address/model/types/event/EventTest.java
Labels: Command

#238 Fix clear prompt (DONT MERGE YET)
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/ClearEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ClearPersonCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
Labels: Command

#241 Update DG
  docs/DeveloperGuide.md
  docs/_markbind/layouts/default.md
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/UndoRedoState0.puml
  docs/diagrams/UndoRedoState1.puml
  docs/diagrams/UndoRedoState2.puml
  docs/diagrams/UndoRedoState3.puml
  docs/diagrams/UndoRedoState4.puml
  docs/diagrams/UndoRedoState5.puml
  docs/diagrams/UndoSequenceDiagram-Logic.puml
  docs/diagrams/UndoSequenceDiagram-Model.puml
  docs/index.md
Labels: Docs

#242 Update UG
  docs/UserGuide.md
  docs/images/link2Winter.png
  docs/images/unlink2Winter.png
Labels: Docs

#240 Bug Fix for some Link and Unlink issues
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/eventcommands/ClearEventCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/ClearPersonCommand.java
  src/main/java/seedu/address/logic/commands/personcommands/EditPersonCommand.java
  src/main/java/seedu/address/logic/parser/LinkCommandParser.java
  src/main/java/seedu/address/logic/parser/UnlinkCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/types/common/PersonEventManager.java
  src/test/java/seedu/address/logic/commands/eventcommands/AddEventCommandTest.java
  src/test/java/seedu/address/logic/commands/personcommands/AddPersonCommandTest.java
Labels: type.Bug, Command

#248 Update UG
  docs/UserGuide.md
  docs/images/clearAll.png
  docs/images/link2Summer.png
  docs/images/unlink2Summer.png
Labels: Docs

#250 Update links in developer guide
  docs/DeveloperGuide.md
Labels: Docs

#251 Fix ug
  docs/UserGuide.md
Labels: Docs

#252 Fix UG
  docs/UserGuide.md
Labels: Docs

#253 Fix DG
  docs/DeveloperGuide.md
Labels: Docs

#255 Update planned enhancements for Developer Guide
  docs/DeveloperGuide.md
Labels: Docs
